# Google Earth Engine — service account untuk server (disarankan)
GEE_SERVICE_ACCOUNT_EMAIL=nama-service-account@project-id.iam.gserviceaccount.com
GEE_SERVICE_ACCOUNT_KEY_PATH=./gee-service-account-key.json

# Visual Crossing Weather API
VISUALCROSSING_API_KEY=isi_api_key_di_sini

PORT=5000
